{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h3 class="card-title">Upload a reactor state</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.file.label }}
                        {{ form.file(class_="form-control-file") }}
                    </div>
                </div>
            </div>

            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h3 class="card-title">Optimized manipulable variables</h3>
        <div class="row">
            <div class="col-md-4">
                <p>sect_1_flow_16: 0.1337</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
